@using Waffle.Models.Settings
@model Footer

<footer id="site-footer" class="site-footer">
    <div class="site-footer-wrap container-fluid p-0">

        <div class="footer-widgets-wrap">
            <div class="container">
                <div class="row">
                    <aside class="footer-widget-2 col-md-3">
                        <div class="widget widget_block">
                            <div class="widget-content">
                                <h4 class="footer-bottom-sub-title"><span class="theme-color">Về chúng tôi</span></h4>
                                <p class="contact-address">
                                    <span>Trang chủ</span>
                                </p>
                                <p class="contact-email"><span><a href="/leaf/gioi-thieu">Giới thiệu</a></span></p>
                                <p class="contact-phone"><span><a href="#">Tin tức sự kiện</a></span></p>
                                <p class="contact-phone"><span><a href="#">Bản đồ</a></span></p>
                            </div>
                        </div>
                    </aside>
                    <aside class="footer-widget-2 col-md-3">
                        <div class="widget widget_block">
                            <div class="widget-content">
                                <h4 class="footer-bottom-sub-title"><span class="theme-color">Liên hệ</span></h4>
                                <p class="contact-address"><span>Trụ sở chính: 14 Trần Hưng Đạo, Phường Tây Sơn, TP.Pleiku, Tỉnh Gia Lai</span></p>
                                <p class="contact-email"><span><a href="tel:02696333456">Điện thoại: 02696.333.456</a></span></p>
                                <p class="contact-phone"><span><a href="tel:02696333456">Hotline: 02696.333.456</a></span></p>
                                <p class="contact-phone"><span><a href="mailto:congtyshinecgialai@gmail.com">Email: congtyshinecgialai@gmail.com</a></span></p>
                                <p class="contact-phone"><span><a href="#">Giờ làm việc</a>: Mon – Fri: 8.00 am – 5.00 pm</span></p>
                            </div>
                        </div>
                    </aside>
                    <aside class="footer-widget-2 col-md-6">
                        <div class="widget garland_mailchimp_widget">
                            <div class="widget-content">
                                <h3 class="widget-title subheading heading-size-3">Chúng tôi sẽ liên hệ với bạn</h3>
                                <div class="mailchimp-wrapper">
                                    <form class="zozo-mc-form" id="zozo-mc-form" method="post">
                                        <div class="input-group mb-4">
                                            <input type="text" class="form-control zozo-mc-email" required="required" placeholder="Họ và tên" name="fullName">
                                            <button class="input-group-addon zozo-mc btn btn-default"><span class="bi bi-send"></span></button>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control zozo-mc-email" required="required" placeholder="Email" name="email">
                                                    <button class="input-group-addon zozo-mc btn btn-default"><span class="bi bi-send"></span></button>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control zozo-mc-email" required="required" placeholder="Số điện thoại" name="phoneNumber">
                                                    <button class="input-group-addon zozo-mc btn btn-default"><span class="bi bi-send"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <button class="w-100 btn btn-primary" style="height: 52px">Gửi thông tin</button>
                                        </div>

                                    </form>
                                    <!--Mailchimp Custom Script-->

                                    <div class="mc-notice-group" data-success="Success." data-fail="Failure.">
                                        <span class="mc-notice-msg"></span>
                                    </div><!-- .mc-notice-group -->
                                </div><!-- .mailchimp-wrapper -->

                            </div>
                        </div>
                    </aside>
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets-wrap -->

        <div class="footer-bottom-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav copyright-bar-ul pull-center justify-content-center">
                            <li>
                                <p class="footer-copyright">
                                    © Copyright 2024. All rights reserved. <a href="/" target="_blank">Shinec Gia Lai</a>.
                                    Designed by
                                    <a href="https://defzone.net/" target="_blank">DefZone.Net</a>
                                </p>
                            </li>
                        </ul>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bottom-wrap -->
    </div><!-- .container -->
</footer>