@page "/blogspot/list/{normalizedName}"
@using Waffle.Models.Components
@model Waffle.Pages.Blogspot.ListModel

@if (Model.Catalog != null)
{
    <main class="wf-blogspot">
        <div class="container">

            @await Component.InvokeAsync(nameof(Breadcrumb), Model.Catalog.Id)

            <partial name="~/Views/Shared/Components/ListGroup/Default.cshtml" model="Model.Posts" />

        </div>
    </main>
}