@using Waffle.Models.Components

@{
    var column = ViewBag.Column as Column;
}

@if (column != null)
{
    <div class="@column.Arguments">
        @foreach (var item in column.WorkListItems)
        {
            @await Component.InvokeAsync(item.NormalizedName, item.Id)
        }
    </div>
}