@page
@using Waffle.Models.Components
@using Waffle.Models.Components.Specifications
@model Waffle.Pages.Leaf.IndexModel
@{
    ViewData["Title"] = "Trang";
    ViewData["Description"] = "Danh sách trang";
}

<div class="container">
    <div class="title">Danh sách trang</div>
    <div class="md:flex gap-4">
        <div class="md:w-2/3">
            @if (Model.Catalogs.Data != null)
            {
                <div class="mb-4">
                    @foreach (var item in Model.Catalogs.Data)
                    {
                        <div class="py-2 border-b hover:bg-gray-100">
                            <a href="/page/@item.NormalizedName">@item.Name</a>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="md:w-1/3">
            @await Component.InvokeAsync(nameof(ArticleSpotlight))
            @await Component.InvokeAsync(nameof(Tag))
            @await Component.InvokeAsync(nameof(Waffle.ExternalAPI.Models.GoogleAggregate.Trend))
        </div>
    </div>
</div>