@model Waffle.Models.Components.Pages.Home
@{
    Layout = null;
}

<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-title-wrapper">
                    <div class="title-wrap">
                        <h6 class="sub-title">
                            <span class="subtitle-dots">
                                <localize key="AboutUs" />
                            </span>
                        </h6>
                        <h2 class="section-title">
                            <localize key="IndustrialCluster" />
                            <span class="title-suffix">
                                <localize key="DakDoaNo2" />
                            </span>
                        </h2>
                    </div>
                    <div class="section-description"></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element">
                            <div class="elementor-widget-wrap elementor-element-populated position-relative d-flex justify-content-center align-items-center">
                                <div class="elementor-element elementor-widget elementor-widget-image">
                                    <div class="video-img-wrapper">
                                        <img loading="lazy" src="https://wordpress.zozothemes.com/garland/wp-content/uploads/sites/15/2019/04/pexels-huy-phan-2987081-1.jpg" class="attachment-full img-fluid">
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-4e9e7075 cea-view-framed anim elementor-hidden-mobile elementor-absolute cea-shape-circle elementor-widget elementor-widget-ceapopupanything">

                                    <div class="elementor-widget-container popup-anything-wrapper">

                                        <a class="cea-popup-anything popup-trigger-icon" href="https://www.youtube.com"><i aria-hidden="true" class=" bi-play-fill"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <ul class="nav flex-column cea-icon-list">
                            <li class="cea-icon-list-item">
                                <a href="#">
                                    <span class="cea-icon-list-icon">
                                        <i aria-hidden="true" class=" bi-check2-circle"></i>
                                    </span>
                                    <span class="icon-list-text"><localize key="TongDienTich" />: <b>50,96 Ha</b></span>
                                </a>
                            </li>
                            <li class="cea-icon-list-item">
                                <a href="#">
                                    <span class="cea-icon-list-icon">
                                        <i aria-hidden="true" class=" bi-check2-circle"></i>
                                    </span>
                                    <span class="icon-list-text"><localize key="ThoiHan" /> <b>2025-2075</b></span>
                                </a>
                            </li>
                            <li class="cea-icon-list-item">
                                <a href="#">
                                    <span class="cea-icon-list-icon">
                                        <i aria-hidden="true" class=" bi-check2-circle"></i>
                                    </span>
                                    <span class="icon-list-text"><localize key="ThoiHanGiaoDat" />: <b><localize key="Quarter" /> IV/2025</b></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-center border rounded-lg p-4">
                    <img src="https://shinecgialai.com.vn/imgs/top.jpg" alt="top" class="rounded-lg img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>