@using Waffle.Models.Components
@model Navbar

<nav class="shadow mb-4 navbar-collapse bg-white">
    <div class="navbar-footer">
        <button type="button" class="py-3 px-4 navbar-toggler" aria-label="Navigation bars">
            <i class="fas fa-times"></i>
        </button>
    </div>
</nav>