@page
@model Waffle.Pages.User.RegisterModel

<main class="container">
    <div class="d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="mb-4">
                <div class="mb-4">
                    @if (Model.Result != null)
                    {
                        @if (!Model.Result.Succeeded)
                        {
                            <div class="alert alert-danger">
                                <ul class="text-red-500">
                                    @foreach (var item in Model.Result.Errors)
                                    {
                                        <li>@item.Description</li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-success">
                                Đăng ký thành công, vui lòng kiểm tra hộp thư đến và xác nhận địa chỉ email!
                            </div>
                        }
                    }
                </div>
                <div class="title">
                    <localize key="register" />
                </div>
                <form method="post">
                    <div class="form-item">
                        <div class="form-label">
                            Họ và tên
                            <font color="red">*</font>
                        </div>
                        <input class="form-control" type="text" required name="name" />
                    </div>
                    <div class="form-item">
                        <div class="form-label">
                            <localize key="user_name" />
                            <font color="red">*</font>
                        </div>
                        <input class="form-control" type="text" required name="userName" />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-item">
                                <div class="form-label">Email<font color="red">*</font></div>
                                <input class="form-control" type="email" required name="email" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-item">
                                <div class="form-label">
                                    <localize key="phone_number" />
                                    <font color="red">*</font>
                                </div>
                                <input class="form-control" type="text" required name="phoneNumber" />
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="form-label">
                            <localize key="password" />
                            <font color="red">*</font>
                        </div>
                        <input class="form-control" type="password" required name="Password" />
                    </div>
                    <div class="form-item">
                        <div class="form-label">
                            <localize key="confirmPassword" />
                            <font color="red">*</font>
                        </div>
                        <input class="form-control" type="password" required name="ConfirmPassword" />
                    </div>
                    <div class="form-item">
                        <label>
                            <input type="checkbox" required name="IsAccept" />
                            <span>Đồng ý điều khoản sử dụng</span>
                        </label>
                    </div>
                    <div class="form-item">
                        <button type="submit" class="btn btn-primary">
                            <localize key="register" />
                        </button>
                        <button type="reset" class="btn">Reset</button>
                    </div>
                </form>
            </div>
            <div class="mb-4 text-right">
                Bạn đã có tài khoản? <a href="/user/login"><localize key="login" /></a>
            </div>
        </div>
    </div>
</main>