@model Waffle.Models.Components.ContactForm

<link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet" crossorigin="anonymous">

<div class="card shadow rounded p-4 bg-white">
    <div class="card-body">
        <form action="/api/contact/submit-form" method="post">
            <input type="hidden" value="@Model.Id" name="workContentId" />
            <div class="mb-3">
                <label class="form-label">
                    <localize key="name" />
                </label>
                <input class="form-control" type="text" name="name" id="contact-input-name" required />
            </div>
            <div class="row">
                <div class="wf-col mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email" name="email" id="contact-input-email" required />
                </div>
                <div class="wf-col mb-3">
                    <label class="form-label">
                        <localize key="phoneNumber" />
                    </label>
                    <input class="form-control" type="tel" name="phoneNumber" id="contact-input-phoneNumber" required />
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <localize key="address" />
                </label>
                <input class="form-control" type="text" name="address" />
            </div>
            <div class="row">
                <div class="wf-col mb-3">
                    <label class="form-label">
                        <localize key="jobType" />
                    </label>
                    <select class="form-control" name="JobType">
                        <option value="decking">Decking</option>
                        <option value="fencing">Fencing</option>
                        <option value="gate">Gate</option>
                        <option value="pergola">Pergola</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="wf-col mb-3">
                    <label class="form-label">
                        <localize key="appointment" />
                    </label>
                    <input type="text" class="form-control" id="datetimepicker" name="appointment">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <localize key="note" />
                </label>
                <textarea class="form-control" name="note" id="contact-input-note"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary bg-primary" type="submit" id="contact-btn-submit">
                    <i class="far fa-paper-plane me-2"></i>
                    <localize key="submit" />
                </button>
                <button class="btn btn-secondary" type="reset">
                    <localize key="reset" />
                </button>
            </div>
            <div class="mb-2 text-muted">
                <small>We do not share any of your information without your consent</small>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.6/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js" crossorigin="anonymous"></script>
<script>
    new tempusDominus.TempusDominus(document.getElementById('datetimepicker'), {
        restrictions: {
            daysOfWeekDisabled: [1, 2, 3, 4, 5, 6]
        },
    });
</script>