@page "/page/{normalizedName}"
@using Waffle.Models.Components
@model Waffle.Pages.Page.DetailsModel

@if (Model.Catalog != null)
{
    <main class="wf-page">
        <div class="container">

            @await Component.InvokeAsync(nameof(Breadcrumb), Model.Catalog.Id)

            @if (Model.Components != null)
            {
                @foreach (var item in Model.Components)
                {
                    @await Component.InvokeAsync(item.Name, item.Id)
                }
            }

        </div>
    </main>
}