@using Waffle.Entities
@using Waffle.Models.ViewModels
@model IEnumerable<CatalogListItem>

<div class="row">
    @foreach (var item in Model)
    {
        <article class="col-md-6 col-lg-4 mb-3">
            <partial name="_ListItem.cshtml" model="@item" />
        </article>
    }
</div>