@model Waffle.Models.Components.Jumbotron

<div class="relative overflow-hidden bg-cover bg-no-repeat p-12 jumbotron" style="background-image: url(@Model.BackgroundImage)">
    <div class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed">
        <div class="row h-100 items-content-center justify-center">
            <div class="col-md-6">
                <img src="https://shinecgialai.com.vn/imgs/bg-cover-1.png" alt="bg" class="d-none d-md-block" />
            </div>
            <div class="col-md-6 d-flex h-100 align-items-center">
                <div>
                    <h2 class="jumbotron-title font-semibold">
                        @Model.Title
                    </h2>
                    <div class="text-muted mb-2 px-4">
                        @Model.SubTitle
                    </div>
                    <h4 class="mb-6 jumbotron-description">
                        @Model.Description
                    </h4>
                    <div class="jumbotron-contact bg-white shadow fw-bold col-md-7">
                        <div class="jumbotron-contact-item">
                            <div class="jumbotron-icon">
                                <i class="fa-solid fa-phone fa-2x text-primary"></i>
                            </div>
                            <div>
                                <div class="text-primary jumbotron-contact-name">
                                    <localize key="phoneNumber" />
                                </div>
                                <div class="jumbotron-contact-value">
                                    <a href="tel:02696333456">02696.333.456</a>
                                </div>
                            </div>
                        </div>
                        <div class="jumbotron-contact-item">
                            <img src="https://shinecgialai.com.vn/imgs/qr.png" alt="qr" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>