@model Waffle.Models.Components.Jumbotron

<div class="relative overflow-hidden bg-cover bg-no-repeat p-12 jumbotron" style="background-image: url(@Model.BackgroundImage)">
    <div class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed">
        <div class="row h-100 items-content-center justify-center">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 d-flex h-100 align-items-center">
                <div>
                    <h2 class="jumbotron-title font-semibold">
                        @Model.Title
                    </h2>
                    <h4 class="mb-6 jumbotron-description">
                        @Model.Description
                    </h4>
                    <div class="card-contact bg-white shadow row fw-bold">
                        <div class="p-4 col-md-3 d-flex align-items-center">
                            <div>
                                <div class="text-primary h4">
                                    <localize key="phoneNumber" />
                                </div>
                                <div class="h2">
                                    02696.333.456
                                </div>
                            </div>
                        </div>
                        <div class="p-4 col-md-5 d-flex align-items-center">
                            <div>
                                <div class="text-primary h4">
                                    Email
                                </div>
                                <div class="h2">
                                    <a href="mailto:congtyshinecgialai@gmail.com">info@shinecgialai.vn</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="https://esyhouse.com/wp-content/uploads/2023/02/z4123931035259_33cac6ac8c37e0e0c52422693c9b3129-1400x789.jpg" class="w-100" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>