.mw-editsection,
.taxobox-edit-taxonomy,
.hide-when-compact,
.mw-file-element {
    display: none;
}

.wiki-content ul {
    list-style-type: disc;
    margin-left: 1rem;
}

h1, h2, h3 {
    font-weight: 600;
    font-size: 1.15rem;
    margin-top: 0.25rem;
}