@using Waffle.Models.Components
@model IEnumerable<BlockEditorBlock>

@foreach (var item in Model)
{
    if (BlockEditorType.HEADER.Equals(item.Type))
    {
        <h1>@item.Data.Text</h1>
    }
    if (BlockEditorType.PARAGRAPH.Equals(item.Type))
    {
        <div id="@item.Id">
            @Html.Raw(item.Data.Text)
        </div>
    }
}