.breadcrumb {
    --breadcrumb-margin: 0 auto 0.5rem auto;
}

.search-input {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-100);
}

    .search-input input {
        background-color: inherit;
        transition: all 0.3s ease-in-out;
        width: 16rem;
    }

        .search-input input:focus {
            width: 20rem;
        }

li {
    padding: 0.25rem 0;
}

.list-group-item {
    border: none;
    border-bottom: var(--bs-list-group-border-width) dashed var(--bs-list-group-border-color);
}

.pagination {
    --bs-pagination-padding-y: 0.25rem;
    font-weight: 500;
}

.page-item:first-child .page-link {
    border-left: none;
}

.page-link {
    border: none;
    box-shadow: var(--shadow);
    border-left: 1px dashed var(--bs-pagination-border-color);
}

.footer .dropdown-item:focus, .dropdown-item:hover {
    --bs-dropdown-link-hover-bg: var(--bs-primary);
    --bs-dropdown-link-hover-color: white;
}

.navbar-brand {
    font-weight: bold;
}

.title {
    padding: 0.5rem 0;
    font-weight: 500;
    font-size: 1rem;
    border-bottom: 2px solid var(--gray-200);
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .title::after {
        content: '';
        color: transparent;
        background-color: var(--primary);
        width: 20%;
        display: block;
        height: 2px;
        position: absolute;
        bottom: -2px;
    }

    .title .view-more {
        border: 1px solid var(--gray-200);
    }

.nav-link::after {
    display: block;
    content: '';
    border-bottom: solid 2px var(--bs-gray);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.btn-primary:hover {
    --primary-color-hover: white;
    background-color: var(--primary-hover);
    color: var(--primary-color-hover);
}

.btn-link {
    text-decoration: none;
}

.talent-network .title-wrap {
    height: 200px;
}

    .talent-network .title-wrap h2 {
        display: inline-block;
        color: #e8c80d;
        font-size: 1.5rem;
        font-weight: 700;
    }

        .talent-network .title-wrap h2 span {
            display: block;
            color: #2f4ba0;
            font-size: 1rem;
            text-align: right;
            margin-top: 0.25rem;
        }

    .talent-network .title-wrap .quote-right {
        display: flex;
        align-items: flex-end;
        margin-bottom: -20px;
        padding-left: 5px;
    }

@media screen and (min-width: 640px) {
    .breadcrumb {
        max-width: 640px;
    }
}

@media screen and (min-width: 768px) {

    .breadcrumb {
        max-width: 768px;
        padding: 0;
    }

    .search-input {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .talent-network .title-wrap {
        height: 284px;
    }

        .talent-network .title-wrap h2 {
            font-size: 1.8rem;
        }

            .talent-network .title-wrap h2 span {
                font-size: 1.3rem;
            }
}

@media screen and (min-width: 1024px) {
    .breadcrumb {
        max-width: 1024px;
    }
}


@media screen and (min-width: 1280px) {
    .breadcrumb {
        max-width: 1280px;
    }
}

@media screen and (min-width: 1536px) {
    .breadcrumb {
        max-width: 1536px;
    }
}
