@page
@using Waffle.Entities
@using Waffle.Models.Components
@model Waffle.Pages.Contact.IndexModel<ApplicationUser>

@await Component.InvokeAsync(nameof(Breadcrumb))

<div class="container">

    <div class="row">
        <div class="col-md-8 mb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15486.038331836062!2d108.10330145956281!3d13.987771454376812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x316ea1bcbdbe3dcd%3A0x399c4960798249b4!2zxJDEg2sgxJBvYSwgVHAuIFBsZWlrdSwgR2lhIExhaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1728702908354!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-4">
            <div class="card shadow rounded p-4 bg-white">
                <div class="card-body">
                    @if (!Model.IdentityResult.Succeeded)
                    {
                        <div class="alert">
                            <div class="alert-title">Error: Something Wrong Here!</div>
                            <ul>
                                @foreach (var item in Model.IdentityResult.Errors)
                                {
                                    <li>@item.Description</li>
                                }
                            </ul>
                        </div>
                    }
                    <form method="post">
                        <div class="mb-3">
                            <label class="form-label">
                                <localize key="name" />
                            </label>
                            <input class="form-control" type="text" name="name" id="contact-input-name" required />
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Email</label>
                                <input class="form-control" type="email" name="email" id="contact-input-email" required />
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">
                                    <localize key="phoneNumber" />
                                </label>
                                <input class="form-control" type="tel" name="phoneNumber" id="contact-input-phoneNumber" required />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">
                                <localize key="note" />
                            </label>
                            <textarea class="form-control" name="note" id="contact-input-note"></textarea>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary" type="submit" id="contact-btn-submit">
                                <i class="far fa-paper-plane me-2"></i>
                                <localize key="submit" />
                            </button>
                            <button class="btn btn-secondary" type="reset">
                                <localize key="reset" />
                            </button>
                        </div>
                        <div class="mb-2 text-muted">
                            <small>We do not share any of your information without your consent</small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
