@page
@using Waffle.Models.Components
@model Waffle.Pages.Contact.ThankModel

@await Component.InvokeAsync(nameof(Breadcrumb))

<div class="container">
    <div class="wrapper text-center">
        <div class="icon text-primary">
            <i class="fas fa-envelope-open-text"></i>
        </div>
        <div class="thank-title">
            <localize key="ThankTitle" />
        </div>
        <div class="thank-sub-title">
            <localize key="ThankSubTitle" />
        </div>
    </div>
</div>