@page
@model Waffle.Pages.Contact.ThankModel

<div class="container">
    <div class="wrapper text-center">
        <div class="icon">
            <i class="fas fa-envelope-open-text"></i>
        </div>
        <div class="thank-title">Thank a bunch for reaching out!</div>
        <div class="thank-sub-title">We have received your message and will get back to you soon 💕</div>
    </div>
</div>