@page
@using Waffle.Models.Components
@model Waffle.Pages.Shop.IndexModel
@{
}

<div class="container">
    <div class="wf-row gap-4">
        <div class="w-2/3">

            @await Component.InvokeAsync(nameof(Breadcrumb), Model.Shop.Id)

            @foreach (var item in Model.Products)
            {
                <div class="grid grid-cols-2 gap-4">
                    <div class="card">
                        <div class="card-image">
                            <img src="@item.Thumbnail" alt="@item.Name" />
                        </div>
                        <div class="card-title">
                            <a href="/shop/@item.NormalizedName">
                                @item.Name
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="w-1/3">
            @await Component.InvokeAsync(nameof(ArticlePicker))
            @await Component.InvokeAsync(nameof(Tag))
        </div>
    </div>
</div>