@using Waffle.Models.Components
@model Navbar

<nav class="navbar shadow mb-4">
    <ul class="navbar-nav">
        @foreach(var navItem in Model.NavItems)
        {
            if (!navItem.Links.Any())
            {
                continue;
            }
            if (navItem.HasSubItem)
            {
                
            }
            else
            {
                <li class="navbar-item">
                    <a class="navbar-link" href="@navItem.Links.First().Href">
                        <div>
                            <i class="fab fa-staylinked mr-2"></i>
                            @navItem.Links.First().Name
                        </div>
                    </a>
                </li>
            }
        }
    </ul>
</nav>