@using Waffle.Entities
@using Waffle.Models.Components
@model Swiper

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        @if (Model.Images.Any())
        {
            @foreach (var item in Model.Images)
            {
                <div class="swiper-slide">
                    <img src="@item.File.Url" alt="@item.Alt" />
                </div>
            }
        }
    </div>
    <div class="swiper-pagination"></div>
</div>

<script async src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>