@page
@model Waffle.Pages.Install.SuccessModel
@{
    ViewData["Title"] = "Install succeeded!";
}

<div class="mb-4 alert alert-success">
    <h4 class="alert-heading">Installation succeeded!</h4>
    <p>
        The installation was successful. You can now start using the application.
    </p>
</div>