@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

a {
  cursor: pointer;
  color: var(--color-primary);
  text-decoration: none;
}

input {
  outline: none;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.bg-primary {
  background-color: var(--color-primary);
}

.btn-primary {
  color: white;
  background-color: var(--color-primary);
}

.prose ul, .prose ol {
  padding-left: 1rem;
}

.prose table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.prose th {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #e2e8f0;
  background-color: #f7fafc;
}

.prose td {
  padding: 0.5rem;
  border: 1px solid #e2e8f0;
}

.prose img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto 0.5rem auto;
}