@using Waffle.Models.Settings
@model Header
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

<link href="/css/shinec.css" rel="stylesheet" />
<header id="site-header" class="site-header">

	<div class="header-topbar navbar elements-3">
		<div class="container-fluid">
			<ul class="nav topbar-ul element-left right-element-exist">
				<li>
					<div class="menu-top-menu-container">
						<ul id="menu-top-menu" class="nav top-menu">
							<li id="menu-item-26305" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26305"><a href="#">Call</a></li>
							<li id="menu-item-26306" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26306"><a href="#">Email Us</a></li>
							<li id="menu-item-26307" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26307"><a href="#">Location</a></li>
						</ul>
					</div>
				</li>
			</ul><ul class="nav topbar-ul pull-center justify-content-center right-element-exist"><li>Mon – Fri: 9.00 am – 6.00 pm</li></ul><ul class="nav topbar-ul pull-right justify-content-end right-element-exist">
				<li>
					<ul class="nav social-icons social-transparent social-white social-h-white social-bg-white social-hbg-white" target="_blank"><li><a class="social-facebook" href="#"><span class="fa fa-facebook"></span></a></li><li><a class="social-twitter" href="#"><span class="bi bi-twitter-x"></span></a></li><li><a class="social-instagram" href="#"><span class="fa fa-instagram"></span></a></li><li><a class="social-whatsapp" href=""><span class="fa fa-whatsapp"></span></a>			</li></ul><!-- .social-icons -->
				</li>
				<li></li>
			</ul>
		</div><!-- .container -->
	</div><!-- .header-topbar -->
	<div class="sticky-outer" data-stickyup="0" style="height: 98px;">
		<div class="sticky-head" style="top: 0px;">
			<div class="header-navbar navbar elements-3">
				<div class="container-fluid">
					<ul class="nav navbar-ul element-left right-element-exist">
						<li class="header-titles-wrapper">
							<div class="header-titles">
								<a class="site-link" href="https://wordpress.zozothemes.com/garland/"><img class="img-fluid site-logo" src="https://wordpress.zozothemes.com/garland/wp-content/uploads/sites/15/2024/02/logo.png" alt="Garland"></a>
								<a class="site-link sticky-logo-link" href="https://wordpress.zozothemes.com/garland/"><img class="img-fluid sticky-logo" src="https://wordpress.zozothemes.com/garland/wp-content/uploads/sites/15/2024/02/sticky-logo.png" alt="Garland"></a>
							</div><!-- .header-titles -->
						</li><!-- .header-titles-wrapper -->
					</ul><ul class="nav navbar-ul pull-center justify-content-center right-element-exist">
						<li class="header-navigation-wrapper">
							<nav class="primary-menu-wrapper" aria-label="Horizontal">
								<ul class="nav wp-menu primary-menu">
									<li id="menu-item-26494" class="cus-img-menu menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-24543 current_page_item current-menu-ancestor current_page_ancestor menu-item-has-children menu-item-26494 menu-item-has-mega-children">
										<a href="https://wordpress.zozothemes.com/garland/" aria-current="page">Home</a>
										<ul class="sub-menu mega-menu">
											<li id="menu-item-64587" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-64587 mega-menu-col col-">
												<a href="#">Home List</a>
												<ul class="sub-menu">
													<li id="menu-item-30085" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-24543 current_page_item menu-item-30085">
														<div class="widget widget_block widget_media_image">
															<div class="widget-content">
																<figure class="wp-block-image size-full"><a href="https://wordpress.zozothemes.com/garland/"><img fetchpriority="high" decoding="async" width="400" height="500" src="https://wordpress.zozothemes.com/garland/wp-content/uploads/sites/15/2024/02/home-1.jpg" alt="" class="wp-image-64537"></a><figcaption class="wp-element-caption"><a href="https://wordpress.zozothemes.com/garland/" data-type="URL" data-id="https://wordpress.zozothemes.com/igual/">Home Default</a></figcaption></figure>
															</div>
														</div>
													</li>
													<li id="menu-item-30084" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30084">
														<div class="widget widget_block widget_media_image">
															<div class="widget-content">
																<figure class="wp-block-image size-full"><a href="https://wordpress.zozothemes.com/garland/home-2/"><img decoding="async" width="400" height="500" src="https://wordpress.zozothemes.com/garland/wp-content/uploads/sites/15/2024/02/home-2.jpg" alt="" class="wp-image-64538"></a><figcaption class="wp-element-caption"><a href="https://wordpress.zozothemes.com/garland/home-3/" data-type="URL" data-id="https://wordpress.zozothemes.com/igual/">Home 2</a></figcaption></figure>
															</div>
														</div>
													</li>
													<li id="menu-item-63088" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63088">
														<div class="widget widget_block widget_media_image">
															<div class="widget-content">
																<figure class="wp-block-image size-full"><a href="https://wordpress.zozothemes.com/garland/home-3/"><img decoding="async" width="400" height="500" src="https://wordpress.zozothemes.com/garland/wp-content/uploads/sites/15/2024/02/home-3-1.jpg" alt="" class="wp-image-65584"></a><figcaption class="wp-element-caption"><a href="https://wordpress.zozothemes.com/garland/home-3/" data-type="URL" data-id="https://wordpress.zozothemes.com/igual/">Home 3</a></figcaption></figure>
															</div>
														</div>
													</li>
													<li id="menu-item-63822" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63822">
														<div class="widget widget_block widget_media_image">
															<div class="widget-content">
																<figure class="wp-block-image size-full"><a href="https://wordpress.zozothemes.com/garland/home-4/"><img loading="lazy" decoding="async" width="400" height="500" src="https://wordpress.zozothemes.com/garland/wp-content/uploads/sites/15/2024/02/home-4.jpg" alt="" class="wp-image-64540"></a><figcaption class="wp-element-caption"><a href="https://wordpress.zozothemes.com/garland/home-4/" data-type="URL" data-id="https://wordpress.zozothemes.com/igual/">Home 4</a></figcaption></figure>
															</div>
														</div>
													</li>
													<li id="menu-item-64542" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64542">
														<div class="widget widget_block widget_media_image">
															<div class="widget-content">
																<figure class="wp-block-image size-full"><a href="https://wordpress.zozothemes.com/garland/home-5/"><img loading="lazy" decoding="async" width="400" height="500" src="https://wordpress.zozothemes.com/garland/wp-content/uploads/sites/15/2024/02/home-5.jpg" alt="" class="wp-image-64541"></a><figcaption class="wp-element-caption"><a href="https://wordpress.zozothemes.com/garland/home-5/" data-type="URL" data-id="https://wordpress.zozothemes.com/igual/">Home 5</a></figcaption></figure>
															</div>
														</div>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li id="menu-item-63093" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-63093">
										<a href="#">Pages</a>
										<ul class="sub-menu">
											<li id="menu-item-64983" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64983"><a href="https://wordpress.zozothemes.com/garland/garden-booking/">Garden Booking</a></li>
											<li id="menu-item-65330" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65330"><a href="https://wordpress.zozothemes.com/garland/landing-page/">Landing Page</a></li>
											<li id="menu-item-26784" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-26784">
												<a href="https://wordpress.zozothemes.com/garland/about-us/">About  Us</a>
												<ul class="sub-menu">
													<li id="menu-item-26491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26491"><a href="https://wordpress.zozothemes.com/garland/who-we-are/">Who We Are</a></li>
													<li id="menu-item-26314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26314"><a href="https://wordpress.zozothemes.com/garland/faq/">FAQ</a></li>
													<li id="menu-item-26316" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26316"><a href="https://wordpress.zozothemes.com/garland/our-team/">Our Team</a></li>
													<li id="menu-item-26300" class="menu-item menu-item-type-post_type menu-item-object-cea-team menu-item-26300"><a href="https://wordpress.zozothemes.com/garland/team/james-garcia/">Team Single</a></li>
												</ul>
											</li>
											<li id="menu-item-26492" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-26492">
												<a href="https://wordpress.zozothemes.com/garland/our-portfolio/">Portfolio Default</a>
												<ul class="sub-menu">
													<li id="menu-item-65910" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65910"><a href="https://wordpress.zozothemes.com/garland/portfolio-2-columns/">Portfolio 2 Columns</a></li>
													<li id="menu-item-65911" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65911"><a href="https://wordpress.zozothemes.com/garland/portfolio-3-columns/">Portfolio 3 Columns</a></li>
													<li id="menu-item-65912" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65912"><a href="https://wordpress.zozothemes.com/garland/portfolio-4-columns-wide/">Portfolio 4 Columns Wide</a></li>
												</ul>
											</li>
											<li id="menu-item-65913" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-65913">
												<a href="https://wordpress.zozothemes.com/garland/portfolio-masonry/">Portfolio Masonry</a>
												<ul class="sub-menu">
													<li id="menu-item-65914" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65914"><a href="https://wordpress.zozothemes.com/garland/portfolio-masonry-classic/">Masonry Classic</a></li>
													<li id="menu-item-65915" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65915"><a href="https://wordpress.zozothemes.com/garland/portfolio-masonry-classic-pro/">Masonry Classic Pro</a></li>
													<li id="menu-item-65916" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65916"><a href="https://wordpress.zozothemes.com/garland/portfolio-masonry-modern/">Masonry Modern</a></li>
													<li id="menu-item-65917" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65917"><a href="https://wordpress.zozothemes.com/garland/portfolio-no-gutter/">Portfolio No Gutter</a></li>
												</ul>
											</li>
											<li id="menu-item-26311" class="menu-item menu-item-type-post_type menu-item-object-cea-portfolio menu-item-26311"><a href="https://wordpress.zozothemes.com/garland/portfolio/garden-barrel/">Portfolio Single</a></li>
											<li id="menu-item-63092" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-63092">
												<a href="https://wordpress.zozothemes.com/garland/shop/">Shop</a>
												<ul class="sub-menu">
													<li id="menu-item-63089" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63089"><a href="https://wordpress.zozothemes.com/garland/cart/">Cart</a></li>
													<li id="menu-item-63090" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63090"><a href="https://wordpress.zozothemes.com/garland/checkout/">Checkout</a></li>
													<li id="menu-item-63091" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63091"><a href="https://wordpress.zozothemes.com/garland/my-account/">My account</a></li>
												</ul>
											</li>
											<li id="menu-item-26312" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26312"><a href="https://wordpress.zozothemes.com/garland/contact/">Contact Us</a></li>
										</ul>
									</li>
									<li id="menu-item-26315" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-26315">
										<a href="https://wordpress.zozothemes.com/garland/our-services/">Our Services</a>
										<ul class="sub-menu">
											<li id="menu-item-26301" class="menu-item menu-item-type-post_type menu-item-object-cea-service menu-item-26301"><a href="https://wordpress.zozothemes.com/garland/service/tree-maintenance/">Tree Maintenance</a></li>
											<li id="menu-item-26302" class="menu-item menu-item-type-post_type menu-item-object-cea-service menu-item-26302"><a href="https://wordpress.zozothemes.com/garland/service/planting-and-landscape/">Planting and Landscape</a></li>
											<li id="menu-item-26303" class="menu-item menu-item-type-post_type menu-item-object-cea-service menu-item-26303"><a href="https://wordpress.zozothemes.com/garland/service/lawn-maintenance/">Lawn Maintenance</a></li>
											<li id="menu-item-26304" class="menu-item menu-item-type-post_type menu-item-object-cea-service menu-item-26304"><a href="https://wordpress.zozothemes.com/garland/service/irrigation-and-watering/">Irrigation and Watering</a></li>
											<li id="menu-item-26309" class="menu-item menu-item-type-post_type menu-item-object-cea-service menu-item-26309"><a href="https://wordpress.zozothemes.com/garland/service/commercial-planting/">Commercial Planting</a></li>
											<li id="menu-item-26310" class="menu-item menu-item-type-post_type menu-item-object-cea-service menu-item-26310"><a href="https://wordpress.zozothemes.com/garland/service/hardscaping-lighting/">Hardscaping &amp; Lighting</a></li>
										</ul>
									</li>
									<li id="menu-item-26490" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-26490">
										<a href="https://wordpress.zozothemes.com/garland/blog/">Blog</a>
										<ul class="sub-menu">
											<li id="menu-item-29847" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29847"><a href="https://wordpress.zozothemes.com/garland/blog/">Blog Default</a></li>
											<li id="menu-item-65612" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65612"><a href="https://wordpress.zozothemes.com/garland/blog-grid-overlay/">Blog Grid + Overlay</a></li>
											<li id="menu-item-65600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65600"><a href="https://wordpress.zozothemes.com/garland/2-columns/">2 Columns</a></li>
											<li id="menu-item-65601" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65601"><a href="https://wordpress.zozothemes.com/garland/2-columns-sidebar/">2 Columns + Sidebar</a></li>
											<li id="menu-item-65602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65602"><a href="https://wordpress.zozothemes.com/garland/3-columns/">3 Columns</a></li>
											<li id="menu-item-65603" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65603"><a href="https://wordpress.zozothemes.com/garland/4-columns-fullwidth/">4 Columns Fullwidth</a></li>
											<li id="menu-item-26493" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-26493"><a href="https://wordpress.zozothemes.com/garland/the-importants-of-water-for-your-garden/">Blog Single</a></li>
										</ul>
									</li>
									<li id="menu-item-65918" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-65918 menu-item-has-mega-children">
										<a href="#">Features</a>
										<ul class="sub-menu mega-menu">
											<li id="menu-item-65919" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-65919 mega-menu-col col-3">
												<a href="#">Shortcodes</a>
												<ul class="sub-menu">
													<li id="menu-item-65920" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65920"><a href="https://wordpress.zozothemes.com/garland/blogs/">Blogs</a></li>
													<li id="menu-item-65921" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65921"><a href="https://wordpress.zozothemes.com/garland/charts/">Charts</a></li>
													<li id="menu-item-65922" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65922"><a href="https://wordpress.zozothemes.com/garland/circle-progress/">Circle Progress</a></li>
													<li id="menu-item-65923" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65923"><a href="https://wordpress.zozothemes.com/garland/contact-forms/">Contact Forms</a></li>
												</ul>
											</li>
											<li id="menu-item-65925" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-65925 mega-menu-col col-3">
												<a href="#">Shortcodes</a>
												<ul class="sub-menu">
													<li id="menu-item-65924" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65924"><a href="https://wordpress.zozothemes.com/garland/counters/">Counters</a></li>
													<li id="menu-item-65926" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65926"><a href="https://wordpress.zozothemes.com/garland/day-counter/">Day Counter</a></li>
													<li id="menu-item-65927" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65927"><a href="https://wordpress.zozothemes.com/garland/feature-box/">Feature Box</a></li>
													<li id="menu-item-65928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65928"><a href="https://wordpress.zozothemes.com/garland/flipbox/">Flipbox</a></li>
												</ul>
											</li>
											<li id="menu-item-65931" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-65931 mega-menu-col col-3">
												<a href="#">Shortcodes</a>
												<ul class="sub-menu">
													<li id="menu-item-65929" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65929"><a href="https://wordpress.zozothemes.com/garland/google-maps/">Google Maps</a></li>
													<li id="menu-item-65930" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65930"><a href="https://wordpress.zozothemes.com/garland/mailchimp/">Mailchimp</a></li>
													<li id="menu-item-65932" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65932"><a href="https://wordpress.zozothemes.com/garland/modal-popup/">Modal Popup</a></li>
													<li id="menu-item-65934" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65934"><a href="https://wordpress.zozothemes.com/garland/progress-bar/">Progress Bar</a></li>
												</ul>
											</li>
											<li id="menu-item-65941" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-65941 mega-menu-col col-3">
												<a href="#">shortcodes</a>
												<ul class="sub-menu">
													<li id="menu-item-65933" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65933"><a href="https://wordpress.zozothemes.com/garland/popover/">Popover</a></li>
													<li id="menu-item-65935" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65935"><a href="https://wordpress.zozothemes.com/garland/service-styles/">Service Styles</a></li>
													<li id="menu-item-65936" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65936"><a href="https://wordpress.zozothemes.com/garland/tabs/">Tabs</a></li>
													<li id="menu-item-65940" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65940"><a href="https://wordpress.zozothemes.com/garland/video-popup/">Video Popup</a></li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</nav><!-- .primary-menu-wrapper -->
						</li><!-- .header-navigation-wrapper -->
						<li>
							<a class="full-search-toggle" href="#"><i class="bi bi-search"></i></a>
						</li>
					</ul><ul class="nav navbar-ul pull-right justify-content-end right-element-exist"><li><a href="https://wordpress.zozothemes.com/garland/garden-booking/" class="h-phone">Book Now<i class="bi bi-calendar3 ms-2"></i></a></li></ul>
				</div><!-- .container -->
			</div><!-- .header-navbar -->
		</div> <!-- .sticky-head -->
	</div> <!-- .sticky-outer -->

</header>