@model IEnumerable<Waffle.Models.ComponentListItem>

@await Html.PartialAsync("~/Views/Shared/Components/Swiper/Default.cshtml")

<main class="wf-home">
    @foreach (var item in Model)
    {
        @await Component.InvokeAsync(item.Name, item.Id)
    }
</main>
