@model IEnumerable<Waffle.Models.ComponentListItem>

<main class="wf-home">
    @foreach (var item in Model)
    {
        <div>
            @await Component.InvokeAsync(item.Name, item.Id)
        </div>
    }
</main>
