.copyright {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--bs-gray);
    padding: .5rem 1rem;
    flex-direction: column-reverse;
    align-items: center;
    gap: .5rem;
}

.footer {
    background-color: var(--footer-bg);
    color: var(--footer-text);
}

.footer a {
    color: var(--footer-text);
}

.footer-social a {
    padding: 0 .75rem;
}

.footer-content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.footer-title {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: .5rem;
}

.footer-item {
    margin-bottom: .25rem;
}

@media screen and (min-width: 768px) {
    .copyright {
        flex-direction: row;
    }

    .footer-content {
        padding-top: var(--wf-footer-content-padding-y);
        padding-bottom: var(--wf-footer-content-padding-y);
    }
}