@page
@model Waffle.Pages.User.IndexModel
@{
    ViewData["Title"] = Model.IdentityUser.UserName;
}

<div class="container">
    <div class="row">
        <div class="w-1/4 mb-4">
            <div class="card mb-2 shadow">
                <div class="flex justify-center mb-4">
                    <img src="@Model.Avatar" loading="lazy" alt="Avatar" class="rounded-full object-cover" width="200" height="200" />
                </div>
                <div class="text-xl font-bold mb-3 text-center">@Model.IdentityUser.UserName</div>
                <div class="mb-4 text-center text-gray-500">
                    Phone: @Model.IdentityUser.PhoneNumber
                </div>
                <div class="flex items-center justify-center gap-4">
                    <button class="px-4 py-2 bg-primary text-white rounded">Nhắn tin</button>
                    <button class="px-4 py-2 border rounded">Theo dõi</button>
                </div>
            </div>
            <div class="bg-white shadow">
                <div class="px-4 py-2 border-b flex justify-between">
                    <div>
                        <i class="fas fa-globe mr-1"></i>Website
                    </div>
                    <div class="text-gray-500 text-right"></div>
                </div>
                <div class="px-4 py-2 border-b flex justify-between">
                    <div>
                        <i class="fab fa-facebook mr-1"></i>Facebook
                    </div>
                    <div class="text-gray-500 text-right"></div>
                </div>
            </div>
        </div>
        <div class="w-3/4 mb-4">
            <div class="card">
                <div class="row">
                    <div class="w-1/4">
                        <div class="border">
                            <a href="/user">
                                <div class="px-4 py-2 border-b">
                                    Thông tin cá nhân
                                </div>
                            </a>
                            <a href="/user/changepassword">
                                <div class="px-4 py-2 border-b">
                                    Đổi mật khẩu
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>