@page
@model Waffle.Pages.User.RegisterModel

<div class="container">
    <div class="wf-row">
        <div class="w-1/3">
            <div class="mb-4 card">
                <div class="mb-4">
                    @if (Model.Result != null)
                    {
                        @if (!Model.Result.Succeeded)
                        {
                            <ul class="text-red-500">
                                @foreach (var item in Model.Result.Errors)
                                {
                                    <li>@item.Description</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <div class="text-green-500">
                                Đăng ký thành công, vui lòng kiểm tra hộp thư đến và xác nhận địa chỉ email!
                            </div>
                        }
                    }
                </div>
                <form method="post">
                    <div class="form-item">
                        <div class="form-label">Email</div>
                        <input class="form-control" type="email" required name="UserName" />
                    </div>
                    <div class="form-item">
                        <div class="form-label">
                            <localize key="password" />
                        </div>
                        <input class="form-control" type="password" required name="Password" />
                    </div>
                    <div class="form-item">
                        <div class="form-label">
                            <localize key="confirmPassword" />
                        </div>
                        <input class="form-control" type="password" required name="ConfirmPassword" />
                    </div>
                    <div class="form-item">
                        <label>
                            <input type="checkbox" required name="IsAccept" />
                            <span>Đồng ý điều khoản sử dụng</span>
                        </label>
                    </div>
                    <div class="form-item">
                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                        <button type="reset" class="btn">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>