@page
@model Waffle.Pages.User.ResetPasswordConfirmationModel

<div class="container">
    <p>
        Your password has been reset. Please <a asp-page="./User/Login">click here to log in</a>.
    </p>
</div>