@using Waffle.Models.Components

@{
    var row = ViewBag.Row as Row;
}

@if (row != null)
{
    <div class="row">
        @foreach (var col in row.Columns)
        {
            @await Component.InvokeAsync(nameof(Column), col)
        }
    </div>
}