@using Waffle.Core.Interfaces.IService
@using Waffle.Models.Settings
@model Footer
@inject ILocalizationService localizationService;

<footer id="site-footer" class="site-footer">
    <div class="site-footer-wrap container-fluid p-0">
        <div class="footer-widgets-wrap py-8 md:py-16">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4">
                        <div class="mb-4">
                            <img src="https://shinecgialai.com.vn/imgs/logo-white.png" alt="logo" loading="lazy" class="max-w-64 ml-0" />
                        </div>
                        <div class="mb-4">
                            SHINEC cam kết tiên phong trong việc xây dựng các khu công nghiệp xanh, thúc đẩy sự phát triển bền vững, bảo vệ môi trường, và đóng góp tích cực vào sự thịnh vượng của cộng đồng.
                        </div>
                        <div class="uppercase font-bold mb-2">THEO DÕI CHÚNG TÔI</div>
                        <div class="flex gap-3 mb-4">
                            <a href="https://www.facebook.com/shinecgialai" target="_blank" class="h-8 w-8 flex items-center justify-center rounded-full bg-white">
                                <i class="fab fa-facebook-f text-blue-500"></i>
                            </a>
                            <a href="https://www.youtube.com/channel/UC9J" class="h-8 w-8 flex items-center justify-center rounded-full bg-white">
                                <i class="fab fa-youtube text-red-500"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/shinec-gia-lai" class="h-8 w-8 flex items-center justify-center rounded-full bg-white">
                                <i class="fab fa-linkedin-in text-blue-500"></i>
                            </a>
                        </div>
                    </aside>

                    <aside class="col-md-5">
                        <div class="widget widget_block">
                            <div class="widget-content">
                                <h4 class="footer-bottom-sub-title">
                                    <localize key="contact" />
                                </h4>
                                <p class="contact-phone"><i class="fa-solid fa-phone mr-1"></i> <span><a href="tel:842696333456">Hotline: (+84) 2696.333.456</a></span></p>
                                <p class="contact-phone"><i class="fa-solid fa-phone-volume mr-1"></i> <span>Phòng Kinh doanh: <a href="tel:987720820">(+84) 987.720.820</a></span></p>
                                <p class="contact-phone"><i class="fa-solid fa-phone-volume mr-1"></i> <span>Phòng Tổ chức Hành chính: <a href="tel:84393900704">(+84) 393.900.704</a></span></p>
                                <p class="contact-phone"><span><i class="fa-regular fa-envelope mr-1"></i> <a href="mailto:congtyshinecgialai@gmail.com">Email: congtyshinecgialai@gmail.com</a></span></p>
                                <p class="contact-phone"><i class="fa-solid fa-building mr-1"></i> <span>Văn phòng: Số 14 Trần Hưng Đạo, TP. Pleiku, tỉnh Gia Lai</span></p>
                                <p class="contact-email">
                                    <i class="fa-solid fa-location-dot mr-1"></i>
                                    <span>
                                        Địa chỉ: Cụm Công nghiệp số 2 huyện Đak Đoa, thôn 2, xã Tân Bình, huyện Đak Đoa, tỉnh Gia Lai
                                    </span>
                                </p>
                            </div>
                        </div>
                    </aside>

                    <aside class="footer-widget-2 col-md-3">
                        <div class="widget garland_mailchimp_widget">
                            <div class="widget-content">
                                <h3 class="widget-title subheading heading-size-3">
                                    <localize key="contactUs" />
                                </h3>
                                <div class="mailchimp-wrapper">
                                    <form class="zozo-mc-form" id="zozo-mc-form" method="post">
                                        <div class="input-group mb-4">
                                            <input type="text" class="form-control zozo-mc-email" required="required" placeholder="@await localizationService.GetAsync("FullName")" name="fullName">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control zozo-mc-email" required="required" placeholder="Email" name="email">
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control zozo-mc-email" required="required" placeholder="@await localizationService.GetAsync("phoneNumber")" name="phoneNumber">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <button class="flex py-3 px-4 gap-2 w-full text-white rounded hover:text-white items-center bg-gradient-to-b from-orange-500 to-orange-400 poppins font-semibold justify-center hover:opacity-75" style="height: 52px">
                                                <localize key="submit" />
                                            </button>
                                        </div>

                                    </form>

                                    <div class="mc-notice-group" data-success="Success." data-fail="Failure.">
                                        <span class="mc-notice-msg"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>

        <div class="footer-bottom-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav copyright-bar-ul pull-center justify-content-center mb-0">
                            <li>
                                <div class="footer-copyright">
                                    © Copyright @DateTime.Now.Year. <a href="/" target="_blank">Công ty cổ phần Shinec Gia Lai</a>.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<nav class="linksFixed">
    <ul>
        <li>
            <a href="tel:842696333456">
                <img src="https://longhau.com.vn/assets/images/icons/ic-call.svg" alt=""><img src="https://longhau.com.vn/assets/images/icons/ic-call-active.svg" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="https://longhau.com.vn/assets/images/icons/ic-360.svg" alt=""><img src="https://longhau.com.vn/assets/images/icons/ic-360-active.svg" alt="">
            </a>
        </li>
        <li>
            <a rel="nofollow" href="https://www.facebook.com/shinecgialai">
                <img src="https://longhau.com.vn/assets/images/icons/ic-facebook.svg" alt="">
                <img src="https://longhau.com.vn/assets/images/icons/ic-facebook-active.svg" alt="">
            </a>
        </li>
        <li>
            <a href="https://shinecgialai.com.vn/files/projects.pdf">
                <img src="https://longhau.com.vn/assets/images/icons/ic-download.svg" alt=""><img src="https://longhau.com.vn/assets/images/icons/ic-download-active.svg" alt="">
            </a>
        </li>
    </ul>
</nav>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 1200
    });
</script>