@using Waffle.Core.Interfaces.IService
@using Waffle.Models.Settings
@model Footer
@inject ILocalizationService localizationService;

<footer id="site-footer" class="site-footer">
    <div class="site-footer-wrap container-fluid p-0">

        <div class="footer-widgets-wrap">
            <div class="container">
                <div class="row">
                    <aside class="footer-widget-2 col-md-3">
                        <div class="widget widget_block">
                            <div class="widget-content">
                                <h4 class="footer-bottom-sub-title">
                                    <localize key="aboutUs" />
                                </h4>
                                <p class="contact-address">
                                    <a href="/">
                                       <localize key="home" />
                                    </a>
                                </p>
                                <p class="contact-email">
                                    <a href="/">
                                        <localize key="introduce" />
                                    </a>
                                </p>
                                <p class="contact-phone">
                                    <a href="/product">
                                        <localize key="Product" />
                                    </a>
                                </p>
                                <p class="contact-phone">
                                    <a href="/article">
                                        <localize key="Article" />
                                    </a>
                                </p>
                                <p class="contact-phone">
                                    <a href="/leaf/ban-do-dia-diem">
                                        <localize key="map" />
                                    </a>
                                </p>
                            </div>
                        </div>
                    </aside>
                    <aside class="footer-widget-2 col-md-5">
                        <div class="widget widget_block">
                            <div class="widget-content">
                                <h4 class="footer-bottom-sub-title">
                                    <localize key="contact" />
                                </h4>
                                <p class="contact-phone"><i class="fa-solid fa-phone mr-1"></i> <span><a href="tel:842696333456">Hotline: (+84) 2696.333.456</a></span></p>
                                <p class="contact-phone"><i class="fa-solid fa-phone-volume mr-1"></i> <span>Phòng Kinh doanh: <a href="tel:987720820">(+84) 987.720.820</a></span></p>
                                <p class="contact-phone"><i class="fa-solid fa-phone-volume mr-1"></i> <span>Phòng Tổ chức Hành chính: <a href="tel:84393900704">(+84) 393.900.704</a></span></p>
                                <p class="contact-phone"><span><i class="fa-regular fa-envelope mr-1"></i> <a href="mailto:congtyshinecgialai@gmail.com">Email: congtyshinecgialai@gmail.com</a></span></p>
                                <p class="contact-phone"><i class="fa-solid fa-building mr-1"></i> <span>Văn phòng: Số 14 Trần Hưng Đạo, TP. Pleiku, tỉnh Gia Lai</span></p>
                                <p class="contact-email">
                                    <i class="fa-solid fa-location-dot mr-1"></i>
                                    <span>
                                        Địa chỉ: Cụm Công nghiệp số 2 huyện Đak Đoa,<br /> thôn 2, xã Tân Bình, huyện Đak Đoa, tỉnh Gia Lai
                                    </span>
                                </p>
                            </div>
                        </div>
                    </aside>
                    <aside class="footer-widget-2 col-md-4">
                        <div class="widget garland_mailchimp_widget">
                            <div class="widget-content">
                                <h3 class="widget-title subheading heading-size-3">
                                    <localize key="contactUs" />
                                </h3>
                                <div class="mailchimp-wrapper">
                                    <form class="zozo-mc-form" id="zozo-mc-form" method="post">
                                        <div class="input-group mb-4">
                                            <input type="text" class="form-control zozo-mc-email" required="required" placeholder="@await localizationService.GetAsync("FullName")" name="fullName">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control zozo-mc-email" required="required" placeholder="Email" name="email">
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="input-group">
                                                    <input type="text" class="form-control zozo-mc-email" required="required" placeholder="@await localizationService.GetAsync("phoneNumber")" name="phoneNumber">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <button class="w-100 btn btn-primary" style="height: 52px">
                                                <localize key="submit" />
                                            </button>
                                        </div>

                                    </form>

                                    <div class="mc-notice-group" data-success="Success." data-fail="Failure.">
                                        <span class="mc-notice-msg"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>

        <div class="footer-bottom-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <ul class="nav copyright-bar-ul pull-center justify-content-center mb-0">
                            <li>
                                <div class="footer-copyright text-white">
                                    © Copyright @DateTime.Now.Year. <a href="/" target="_blank" class="text-white">Công ty cổ phần Shinec Gia Lai</a>.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>