@using Waffle.Models.Components
@model Header

<header class="wf-header">
    <nav class="navbar shadow">
        <div class="container flex h-full items-center">
            <button type="button" class="h-12 w-12 flex items-center justify-center navbar-toggler md:hidden" aria-label="Navigation bars">
                <i class="fas fa-bars"></i>
            </button>
            <a class="font-bold text-xl inline-block mr-4" href="/"><i class="fa fa-shield-alt"></i> DefZone.Net</a>
            <ul class="items-center md:text-lg navbar-menu">
                <li class="md:hidden border-dashed border-b w-full flex justify-end">
                    <button type="button" class="h-12 w-12 flex items-center justify-center navbar-toggler" aria-label="Close navigation">
                        <i class="fas fa-times"></i>
                    </button>
                </li>
                <li>
                    <a href="/shop" class="font-medium py-2 text-gray-700 inline-block">
                        <i class="fas fa-cart-shopping mr-1"></i>
                        <localize key="shop" />
                    </a>
                </li>
                <li>
                    <a href="/game" class="font-medium py-2 text-gray-700 inline-block">
                        <i class="fa-solid fa-puzzle-piece mr-1"></i>
                        Games
                    </a>
                </li>
            </ul>
            <div class="flex-grow flex justify-end">
                <div class="flex">
                    <form class="hidden md:flex items-center rounded-full px-3 gap-2 search-input" action="/search/index" method="get">
                        <input class="h-full py-2 rounded-full w-64" type="text" placeholder="Nhập từ khóa" aria-label="Search" name="searchTerm" autocomplete="off">
                        <button class="flex items-center justify-center rounded-full" type="submit" aria-label="Tìm kiếm"><i class="fa fa-search"></i></button>
                    </form>
                    <a href="/search" class="md:hidden h-12 w-12 flex items-center justify-center text-dark" aria-label="Search">
                        <i class="fas fa-search"></i>
                    </a>
                    <button type="button" class="h-12 w-12 flex items-center justify-center" aria-label="Dark mode">
                        <i class="fas fa-cloud-sun"></i>
                    </button>
                    @if (Model.IsAuthenticated)
                    {
                        <a href="/user" class="h-12 w-12 flex items-center justify-center text-dark">
                            <i class="fas fa-user"></i>
                        </a>
                        <a href="/shop/cart" class="h-12 w-12 flex items-center justify-center text-dark">
                            <i class="fas fa-cart-shopping"></i>
                        </a>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>