@using Waffle.Models.Components
@model Header

<header class="wf-header">
    <div class="top-header-area">
        <div class="container-fluid">
            <div class="flex items-center justify-between">
                <ul class="top-header-info">
                    <li>
                        <a href="#">
                            <i class="fas fa-plane-departure"></i> Fast & FREE Support*
                        </a>
                    </li>
                    <li>
                        <a href="/page/largest-in-stock-inventory">
                            <i class="fas fa-warehouse"></i> Largest Inventory
                        </a>
                    </li>
                    <li>
                        <a href="/page/satisfaction-guarantee">
                            <i class="fas fa-certificate"></i> Satisfaction Guarantee
                        </a>
                    </li>
                </ul>
                <div class="d-flex text-end align-items-center justify-content-end">
                    <a href="/page/get-free-quote" class="btn bg-gray-900 rounded-0 uppercase btn-hover-primary text-primary get-quote">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Get free quote
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4">
        <div class="container">
            <div class="flex justify-between items-center">
                <a href="/"><img src="@Model.Logo" alt="logo" width="250"></a>
                <div class="menu-vertical">
                    <a href="/page/fencing">Fencing</a>
                    <a href="/page/decking">Decking</a>
                    <a href="/page/gate">Gate</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-yellow-500 p-3 text-center mb-2">
        <span class="item">
            <u>No</u> Middleman - <strong>Buy Manufacturer Direct</strong>
        </span>
    </div>
</header>