@page "/game/redirect/{normalizedName}"
@model Waffle.Pages.Game.RedirectModel
@{
    ViewData["Title"] = "Chuyển hướng";
}

<div class="container py-4 text-center">
    <div class="mb-2">Bạn sẽ được chuyển đến một liên kết ngoài DefZone</div>
    <a href="@($"https://store.epicgames.com/en-US/p/{Model.NormalizedName}")" class="px-4 py-2 rounded inline-block text-white bg-primary mb-4 hover:text-white" rel="nofollow">Click để tiếp tục</a>
</div>