
:root {
  --color-primary: #2563eb;
  --color-primary-hover: #1b4cb6;
}

a:hover {
  color: var(--color-primary-hover);
}

.bg-primary {
  background-color: var(--color-primary);
}

.btn {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: var(--color-primary);
}

.btn-primary:hover {
  background-color: var(--color-primary-hover);
  color: white;
}