@page "/users/{id}"
@model Waffle.Pages.Users.IndexModel
@{
    ViewData["Title"] = Model.ApplicationUser.UserName;
}

<main class="container">
    <div class="row">
        <partial name="_Leftbar" model="Model.ApplicationUser" />
        <div class="col-md-9 mb-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Hoạt động</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bài viết</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bình luận</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Người theo dõi</a>
                </li>
            </ul>
        </div>
    </div>
</main>