@using Waffle.Models.Components
@model Feed

<div class="wf-feed">
    <div class="title flex justify-between items-center">
        <div><i class="fas fa-blog mr-2"></i>@Model.Name</div>
        <a href="/article"><i class="fas fa-angle-double-right"></i></a>
    </div>
    @if (Model.Articles != null)
    {
        <partial name="~/Pages/Article/_List.cshtml" model="Model.Articles" />
    }
    <a href="/article">
        <div style="border: 1px dashed #d1d1d1;" class="p-1 flex justify-center mb-4 bg-white">
            <localize key="viewMore" />
        </div>
    </a>
</div>