@using Waffle.Models.Components
@model Feed

<div class="wf-feed">
    <div class="title flex justify-between items-center">
        <div><i class="fas fa-blog mr-2"></i>@Model.Name</div>
        <a href="/article"><i class="fas fa-angle-double-right"></i></a>
    </div>
    @if (Model.Articles != null)
    {
        <partial name="~/Pages/Article/_List.cshtml" model="Model.Articles" />
    }
</div>