@using Waffle.Models.Components
@model Feed

<div class="wf-feed">
    <div class="title"><i class="fas fa-blog mr-2"></i>@Model.Name</div>
    @if (Model.Articles != null)
    {
        <partial name="~/Pages/Article/_List.cshtml" model="Model.Articles" />
    }
</div>