.breadcrumb {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    background-color: var(--breadcrumb-bg);
    margin: var(--breadcrumb-margin);
    border-radius: 0.25rem;
}

    .breadcrumb i {
        font-size: .875rem;
    }

.breadcrumb-item + .breadcrumb-item:before {
    float: left;
    padding-right: .5rem;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E");
}

.breadcrumb-item:last-child a {
    color: var(--gray-500);
    pointer-events: none;
}
