.locations {
    margin-bottom: 0.5rem;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.article-item {
    height: 100%;
    margin-bottom: .5rem;
    flex-direction: column;
    display: flex;
    border-radius: .25rem;
    background-color: white;
}

.wf-article-item__body {
    flex: 1 1 0%;
    padding: .5rem;
}

.btn-share {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background-color: white;
    color: var(--gray-500);
    border: 1px solid var(--gray-200);
}

    .btn-share:hover {
        background-color: var(--gray-200);
    }

@media screen and (min-width: 768px) {
    .locations {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
