@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

.ant-pro-form-login-container {
  height: auto;
}

.ant-pro-page-container-children-container {
  padding-inline: 1rem;
}

.image-placeholder {
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #d9d9d9 1px dashed;
}

.btn-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 0.5rem;
  width: 102px;
  height: 102px;
  position: relative;
}

button.ant-btn-primary {
  background-color: #1677ff;
}

.ant-pro-page-container .ant-pro-page-container-warp-page-header {
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

@media screen and (min-width: 1024px) {
  .ant-pro-page-container-children-container {
    padding-inline: 2.5rem;
  }
  .ant-pro-page-container .ant-pro-page-container-warp-page-header {
    padding-inline-start: 40px;
    padding-inline-end: 40px;
  }
}