:root {
    --bs-gutter-x: -0.75rem;
}
.form-label {
    font-weight: 500;
}
.navbar-brand {
    font-size: 1rem;
}
.wf-h1 {
    font-size: 2rem;
}
.wf-h2 {
    font-size: 1.5rem;
}
.wf-card-img-top {
    object-fit: cover;
    transition: opacity .5s ease-in-out;
}
.wf-card-img-wrap {
    background-color: var(--bs-dark);
}
.wf-card-img-top:hover {
    opacity: .5;
}