@page "/article/{normalizedName}"
@using Waffle.Models.Components
@model Waffle.Pages.Article.DetailsModel

<main class="wf-article__detail">
    <div class="container">
        @if (Model.Catalog != null)
        {
            @await Component.InvokeAsync(nameof(Breadcrumb), Model.Catalog.Id)
            <div class="card">
                <div class="card-header">@Model.Catalog.Name</div>
                <div class="card-body">
                    @if (Model.BlockEditors != null)
                    {
                        @foreach (var item in Model.BlockEditors)
                        {
                            @await Component.InvokeAsync(nameof(BlockEditor), item)
                        }
                    }
                    <div class="mb-2">
                        <i class="fas fa-tag mr-2"></i>
                        @foreach (var item in Model.Tags)
                        {
                            <a href="/article/tag/@item.Id" class="wf-badge">@item.Name</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</main>