@page "/article/{normalizedName}"
@using Waffle.Models.Components
@model Waffle.Pages.Article.DetailsModel
@{
}

@if (Model.Catalog != null)
{
    <div class="card">
        <div class="card-header">@Model.Catalog.Name</div>
        <div class="card-body">
            @if (Model.BlockEditors != null)
            {
                @foreach (var item in Model.BlockEditors)
                {
                    @await Component.InvokeAsync(nameof(BlockEditor), item)
                }
            }
            @if (Model.Tags != null)
            {
                <div class="mb-2">
                    <i class="fas fa-tag mr-2"></i>
                    @{
                        await foreach (var item in Model.Tags)
                        {
                            if (item == null)
                            {
                                continue;
                            }
                            <a href="/article/tag/@item.NormalizedName" class="badge">@item.Name</a>
                        };
                    }
                </div>
            }
        </div>
    </div>
}