@page
@model Waffle.Pages.Article.IndexModel
@{
    ViewData["Title"] = "Danh sách bài viết";
}

<main class="wf-article__list">
    <div class="container">
        @if (Model.Articles != null)
        {
            <partial name="_ListItem.cshtml" model="Model.Articles" />
        }
    </div>
</main>