@page
@model Waffle.Pages.Article.IndexModel
@{
    ViewData["Title"] = "Danh sách bài viết";
}

<div class="container">
    @if (Model.Articles != null)
    {
        <partial name="_ListItem.cshtml" model="Model.Articles" />
    }
</div>