@page "/article/tag/{id}"
@model Waffle.Pages.Article.TagModel

<main class="wf-article__tag">
    <div class="container">
        <div class="title">@ViewData["Title"]</div>
        @if (Model.Articles != null)
        {
            <partial name="_ListItem.cshtml" model="Model.Articles" />
        }
    </div>
</main>