@page "/game/league-of-legends"
@model Waffle.Pages.Game.LeagueOfLegends.IndexModel
@{
    ViewData["Title"] = $"League Of Legends ({Model.Version})";
}

<div class="container">
    <div class="row gap-4">
        <div class="w-2/3">
            <partial name="~/Pages/Shared/Components/ListGroup/Default.cshtml" model="Model.Champions" />
        </div>
        <div class="w-1/3">
            <div class="mb-4 shadow bg-white">
                <div class="title">Ngôn ngữ</div>
                <div class="p-2">
                    @foreach (var lang in Model.Languages)
                    {
                        <a href="#" class="px-2 py-1 inline-block mr-2 bg-gray-100 rounded mb-2">@lang</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>