.title {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: var(--dark);
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.25rem;
}
