@using Waffle.Models.Components
@model Rank
@{
    Layout = null;
}

<div class="rank">
    @if (Model.Items != null)
    {
        <ol>
            @foreach (var item in Model.Items)
            {
                <li class="d-flex gap-4">
                    <div class="w-full">
                        @item.Name
                    </div>
                    <div>
                        <form action="/api/rank/vote">
                            <input type="hidden" name="catalogId" value="@Model.CatalogId" />
                            <input type="hidden" name="workId" value="@Model.Id" />
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn btn-primary btn-sm">Vote</button>
                        </form>
                    </div>
                </li>
            }
        </ol>
    }
</div>