@page "/wiki/{id}"
@using Waffle.Models.Components;
@model Waffle.Pages.Wiki.DetailModel

<style>
    .plainlinks, .error {
        display: none;
    }

    table.infobox.vevent {
        width: 100% !important;
        margin-bottom: 1rem;
    }

    .infobox {
        width: auto !important;
    }

    table.wikitable {
        width: 100%;
        margin: 1rem 0;
    }

        table.wikitable th {
            background: #eee;
            padding: 0.5rem 1rem;
            border: 1px solid #eee;
            text-align: left;
        }

        table.wikitable td {
            border: 1px solid #eee;
            padding: 0.25rem 1rem;
        }

    .navbox-title {
        text-align: center;
        color: unset;
    }

    .mw-editsection {
        display: none;
    }

    table.nowraplinks.mw-collapsible.autocollapse.navbox-inner {
        width: 100%;
    }

    .h2 {
        font-weight: bold;
        font-size: 1.125rem;
        padding: 0.25rem 0;
    }

    td {
        padding: 0.25rem;
    }

    th.navbox-group {
        white-space: nowrap;
    }

    .hlist dd, .hlist dt, .hlist li {
        margin: 0;
        display: inline;
    }

    .navbox-group, .navbox-title, .navbox-abovebelow {
        padding: 0.25em 1em;
        line-height: 1.5em;
    }
</style>

<div class="container">
    <h1 class="title fs-6">
        @Model.Data.Title
    </h1>
    <div class="bg-white mb-4">
        @Html.Raw(Model.Data.Text)
    </div>

    @await Html.PartialAsync("/Pages/Components/ProductSpotlight/Default.cshtml", new ProductSpotlight
    {
        ItemPerRow = "col-6 col-md-3 col-lg-2",
        Products = Model.Products
    })

    @await Html.PartialAsync("/Pages/Components/Related/Default.cshtml", Model.Articles)

</div>