@page
@model Waffle.Pages.Career.ThankModel

<main class="container py-4">
    <div class="alert alert-success">
        Nộp đơn ứng tuyển thành công, chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất.
    </div>
</main>
