.albums {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.album-item img {
    height: 14rem;
}

@media screen and (min-width: 768px) {
    .albums {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}