<div class="pagination">
    @if (Model.HasPrevPage)
    {
        <a href="@Model.PrevPageUrl" class="btn btn-primary py-1">Prev page</a>
    }
    @if (Model.HasNextPage)
    {
        <a href="@Model.NextPageUrl" class="btn btn-primary py-1">
            <localize key="nextPage" />
        </a>
    }
</div>