@page
@model Waffle.Pages.Exception.NotFoundModel
@{
    ViewData["Title"] = "Không tìm thấy trang";
}

<main class="container">
    <div class="flex flex-col items-center justify-center">
        <h1 class="mb-4 font-bold text-xl">404</h1>
        <div class="text-gray-500 mb-4">Sorry, the page you visited does not exist.</div>
        <div class="mb-4">
            <a href="/" class="btn btn-primary inline-block">
                <i class="fas fa-home mr-2"></i>
                <span>Trở về trang chủ</span>
            </a>
        </div>
    </div>
</main>
