@page "/w/index.php"
@model Waffle.Pages.Wiki.WModel
@{
    ViewData["Title"] = Model.Title;
}
<div class="container">
    @foreach (var item in Model.ListGroups)
    {
        <partial name="~/Views/Shared/Components/ListGroup/Default.cshtml" model="item" />
    }
</div>