@using Waffle.Models
@using Waffle.Models.Components
@{
    var data = ViewBag.Data as PageVewModel;
}

@if (data != null)
{
    @await Component.InvokeAsync(nameof(Breadcrumb), data.Id)

    <div class="@(data.Settings.Container ? "container" : "container-fluid") wf-catalog" id="catalog">

        <h1 class="h1 wf-h1">@data.Settings.Title</h1>

        @foreach (var item in data.ComponentListItems)
        {
            @await Component.InvokeAsync(item.Name, item.Id)
        }
    </div>
}