@using Waffle.Entities
@model IEnumerable<Catalog>

<div class="title">Bài viết liên quan</div>
<div class="md:grid grid-cols-4 gap-4 mb-4">
    @foreach (var item in Model)
    {
        <partial name="~/Pages/Article/_ListItem.cshtml" model="item" />
    }
</div>